body {
	font-family: 'Nunito', sans-serif;
	color: #FAF3BC;
	background: #420600 url('img/bg-texture.jpg') repeat; 
}

/* in the folder we have the background picture, so we use the url, in case it doesn't load we specified the color. Since we want to make sure it is all over our page we use 'repeat' */


a {
	color: #4FB69F;
	text-decoration: none;

}

h1 {
	font-size: 1.750em;
	letter-spacing: -1.5px;
}

h2 {
	font-size: 1.500em;
	color: #B4C34F;
}

.btn {
	color: #FAF3BC;
	background: #4FB69F url('img/texture.png') no-repeat right top;
	padding: 15px 30px; /* two numbers for two, first number for top/bottom and the second for right/left */
	margin: 40px 0px;
	border-radius: 25px; /*the higher the value the more curly are the sides */
	text-transform: uppercase; /*transforms the text to all capitals */
}

/* . - is calling the class selector 
right top -- the position in the righter up corner

margin -- adds space around the element and pushes it away from it's surroundings
padding -- makes the element bigger
*/

.btn:hover {
	background-color: #4CC4A7
}

/*we are doing this separately because it's a special pseudo for when the user hovers (not clicks) on the button it will change it color to th one specified */


ul.nav {
	margin: 120px 0 0 0;
	list-style: none;
	float: right; 
}

/* we want all of our navigation to be on the right side
list style none since we want to remove all bullet points */

ul.nav li {
	float: left;
	margin-right: 40px;

}
/* making our list horizontal
left because we want it inline with one another
and make space in between each element  */

ul.nav li a {
	color: #FAF3BC;

}

/* changing the colors  */


#intro {
	margin: 50px 0 75px 0;
}

/* # - for choosing the id selector */

#new-cupcakes img {
	border: 8px solid #FAF3BC;
	margin: 0 0 20px 0;
}
/*adding borders to the pictures
style of border can be solid, dotted, dashed */


#featured-cupcake img {
	border: 8px solid #FAF3BC;
}

#copyright {
	border-top: 8px solid #2A0400;
	padding: 10px 0;
	margin: 15px 0px;
	text-align: center; /*aligning the text inside the element */
}

/* selecting which part od the border is styled */





